apiVersion: v1
kind: ServiceAccount
metadata:
  name: manager
  labels:
    app.kubernetes.io/component: manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  labels:
    app.kubernetes.io/component: manager
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: manager
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/component: manager
    spec:
      containers:
      - name: manager
        image: manager:latest
        command:
        - /manager
        args:
        - --delete-after=90s
        - --no-deny-admission=false
        - --admission-delay=25s
        - --ignore-error
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
      terminationGracePeriodSeconds: 100 # should be greater than --delete-after and --admission-delay
      serviceAccountName: manager
