{{- if .Values.metrics.enable -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: { { include "pod-graceful-drain.fullname" . } }-metrics-monitor
  labels:
    {{- include "pod-graceful-drain.labels" . | nindent 4 }}
spec:
  endpoints:
    - path: /metrics
      port: metrics-server
  selector:
    matchLabels:
      {{- include "pod-graceful-drain.selectorLabels" . | nindent 6 }}
{{- end -}}